@model IList<WebApplicationAuthentication.Models.ApplicationUser>

@{
    ViewBag.Title = "View all Category";
    Layout = "_Layout";
}

<h2>List User</h2>
<a href="/Identity/Account/Register" class="btn btn-primary">Create new User</a>

<table style="width: 100%">
    <tr>
        <th>No</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Action</th>
    </tr>
    @{ var i = 1; }
    @foreach (var user in @Model)
    {
        <tr>
            <td>@i</td>
            <td>@user.FullName</td>
            <td>@user.Email</td>
            <td>@user.Role</td>
            <td>
                <a asp-controller="User" asp-action="Update" asp-route-id="@user.Id" class="btn btn-info">Edit</a>
                <a asp-controller="User" asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger" onclick="return confirm('Do you want delete this item?')">Delete</a>
            </td>
        </tr>
        i++;
    }
</table>